/*  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
 /* class of Tags */
p {
  text-align-last: right;
  margin-top: 30px;
}

i{
  margin-right: 10px;
}

button {
  background-color: rgb(0, 26, 255);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px; 
  outline: none;
}
/* class  */
.container{
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 47, 184);
}

.card{
  width: 50vw;
  height: 40vh;
  background-color: beige;
}

.card-body {
  width: 100%;
  height: 100%;
  color:rgb(29, 20, 161);
  text-align: center;
  padding: 30px;
}

.card-h{
  width: 100%;
  height: 50%;
  font-weight: 500;
}

.card-btn{
  width: 100%;
  height: 20%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

a i {
  font-size: 40px;
}